/* Error */
.locality-error {
  color: red;
  margin: 12px 0px 12px 0px;
  width: 300px;
}

/* Label */
.locality-label-business,
.locality-label-name,
.locality-label-price {
  line-height: normal;
  max-width: 100%;
  margin: 0px;
  width: 90px;
}
.locality-label-business {
  font-size: 10px;
}
.locality-label-name {
  font-size: 12px;
  overflow-wrap: break-word;
}
.locality-label-price {
  font-size: 12px;
}

/* Link */
.locality-link-end,
.locality-link {
  text-decoration: none;
  color: #000000;
  margin-bottom: 8px;
}
.locality-link {
  margin-right: 8px;
}
.locality-link-end:link,
.locality-link:link {
  text-decoration: none;
  color: #000000;
}
.locality-link-end:visited,
.locality-link:visited {
  text-decoration: none;
  color: #000000;
}
.locality-link-end:hover,
.locality-link:hover {
  text-decoration: none;
  color: #000000;
}
.locality-link-end:active,
.locality-link:active {
  text-decoration: none;
  color: #000000;
}

/* Internal Link */
.locality-internal-link {
  cursor: pointer;
  display: inline;
  color: #0d6efd;
  text-decoration: underline;
}
